{% extends 'base.html.twig' %}

{% block title %}Edit RecipeIngredient{% endblock %}

{% block body %}
    <h1>Edit RecipeIngredient</h1>

    {{ include('back/recipe_ingredient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_recipe_ingredient_index') }}" class="btn btn-info mt-1">Back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('back/recipe_ingredient/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
