{% extends 'base.html.twig' %}

{% block title %}New RecipeIngredient{% endblock %}

{% block body %}
    <h1>Create new RecipeIngredient</h1>

    {{ include('back/recipe_ingredient/_form.html.twig') }}

    <a href="{{ path('app_back_recipe_ingredient_index') }}" class="btn btn-info mt-1">Back to list</a>
{% endblock %}
