@use '../../styles/vars';

.spinner {
  animation: rotation 2s infinite linear;
  font-size: 5rem;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}