//= Color variables
$orange-omiam: #d94f04;
$blue-omiam: #007172;
$grey-omiam: #2a2a2a;
$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.5);

//= Layout settings
$raduis-img: 0.5rem;


//= transition settings
$slow-transition: 1.5s;
$fast-transition: 0.2s;
