{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('app_back_user_index') }}" class="btn btn-info mt-1">back to list</a>
{% endblock %}
