
.textPrivacy {
  justify-content: center;
  padding: 5%;
  }
  
.titleh2 {
  
  line-height: 2;
  font-size: 30px;;
}

.titleh1 {
line-height: 1;
}
@media screen and (max-width: 320px) {
  .titleh1 {
  font-size: 4rem !important;}
}
