{% extends 'base.html.twig' %}

{% block title %}New Ingredient{% endblock %}

{% block body %}
    <h1>Create new Ingredient</h1>

    {{ include('back/ingredient/_form.html.twig') }}

    <a href="{{ path('app_back_ingredient_index') }}" class="btn btn-info mt-1" >back to list</a>
{% endblock %}
