{% extends 'base.html.twig' %}

{% block title %}O'Miam - BackOffice{% endblock %}

{% block body %}


<div class="text-center">
<h1> Bienvenue sur le BackOffice d'O'Miam </h1>
<br>
<h2> Welcome on the O'Miam's BackOffice </h2>
<br>
<h3> Benvenuto nel BackOffice di O'Miam </h3>
<br>
<h4> Wilkommen im BackOffice von O'Miam </h4>
<br>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    
    <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header text-center" style="background-color: #007172;">Aujourd'hui</div>
        <div class="card-body text-dark">
            <h5 class="card-title text-center">Nous sommes le</h5>
            <p class="card-text text-center">{{ "now"|date("d/m/Y") }}</p>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header text-center" style="background-color: #d94f04;">Aujourd'hui</div>
        <div class="card-body text-dark">
            <h5 class="card-title text-center">Nous avons</h5>
            <p class="card-text text-center">{{ nbUsers }} utilisateurs enregistrés</p>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header text-center" style="background-color: #d94f04;">Aujourd'hui</div>
        <div class="card-body text-dark">
            <h5 class="card-title text-center">Nous avons</h5>
            <p class="card-text text-center">{{ nbRecipes }} excellentes recettes</p>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header text-center" style="background-color: #007172;">Aujourd'hui</div>
        <div class="card-body text-dark">
            <h5 class="card-title text-center">Nous sommes</h5>
            <p class="card-text text-center">5 développeurs au top !!</p>
        </div>
        </div>
    </div>

</div>



{% endblock %}